@import '../general/typography';
@import '../general/color';

link-class()
  .link
    body-base($azure-radiance)
    text-decoration underline
    cursor pointer

    &:hover
      text-decoration underline