service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(userId) {
    	return request.auth.uid == userId;
    }

    function isApproved() {
    	return get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data.approved == true;
    }

    match /users/{userId} {
    	allow create: if isSignedIn();
      allow read: if isUser(userId);
      allow update: if isUser(userId);
    }
  }
}
